<div id='score_box' class='right_box'>
  <div class='section_header'>
    <span style="float: left">
      Your Score
    </span>
  </div>
  <div class='right_data'>
    
      <span id='score'>Loading...</span>
      <% if @puzzle.show_scores %>
        <div>
          N/A
        </div>
      <% end %>      
  </div>
  <div class="clear"></div>
</div>